
<div class="sistema">
  {{#each clientes}}
  <div class="grid_sistema">
    <p class="grid1">Razão Social: {{razao}}</p>
    <p class="grid1">Capital: {{capital}}</p>
    <p class="grid1">Responsável da Empresa: {{responsavel}}</p>
    <p class="grid1">Email: {{email}}</p>
    <p class="grid1">Telefone: {{telefone}}</p>
    <p class="grid1">CNPJ: {{CNPJ}}</p>
    <form>
      <button type="submit" class="aceitar" id="aceitar_empresa" onclick="aceitarempresa();">Aceitar</button>
    </form>
  </div>
  {{/each}}
</div>